.site-header .search-form [type="search"]:focus,
.site-header .search-form [type="text"]:focus {
	background-color: #f5f5f5;
	border: 1px solid #bbb;
	box-shadow: none;
	cursor: text;
	outline: 0;
	width: 230px;
	width: 16.428571429rem;
}

.seracher-label{
  color: red !important;
}
